
.icon-clock:before { content: '\e800'; } /* '' */
.icon-chart-multiple:before { content: '\e801'; } /* '' */
.icon-history:before { content: '\e802'; } /* '' */
.icon-shape:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-user-1:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e80d'; } /* '' */
.icon-sqeure-double:before { content: '\e816'; } /* '' */
.icon-add-file:before { content: '\e817'; } /* '' */
.icon-user-setting:before { content: '\e818'; } /* '' */
.icon-out:before { content: '\e819'; } /* '' */
.icon-user-2:before { content: '\e81a'; } /* '' */
.icon-insert-drive-file:before { content: '\e81b'; } /* '' */
.icon-home:before { content: '\e81e'; } /* '' */
.icon-vector:before { content: '\e81f'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
