
.icon-clock:before { content: '\e800'; } /* '' */
.icon-chart-multiple:before { content: '\e801'; } /* '' */
.icon-history:before { content: '\e802'; } /* '' */
.icon-shape:before { content: '\e803'; } /* '' */
.icon-vector:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-sqeure-double:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-add-file:before { content: '\e809'; } /* '' */
.icon-user-setting:before { content: '\e80a'; } /* '' */
.icon-out:before { content: '\e80b'; } /* '' */
